/* <= 600px */
@media screen and (max-width: 600px) {
    #bottom-navigation {
        height: 100px;
    }
    #bottom-navigation .card {
        gap: 0.5rem;
    }
    #bottom-navigation .navigator:first-child {
        margin-right: 1.5rem;
    }
    aside {
        width: 70px;
        height: 91vh;
        text-align: center;
    }
    aside .logo img.large {
        display: none;
    }
    aside .logo img.small {
        display: block;
    }
    aside .options span {
        display: none;
    }
    aside .options i {
        display: block;
        margin: 1rem 0;
    }
    /* hover */
    aside nav .options li i:hover {
        color: var(--default);
        cursor: pointer;
    }
    aside nav .options li i:active {
        border-bottom: 2px solid var(--green);
        padding-bottom: 0.2rem;
        transition: 0.1s;
    }
    /* /hover */
    aside .playlist {
        display: none;
    }
    aside .user span {
        display: none;
    }
    aside .user i {
        display: inline-block;
    }
    aside .user hr {
        display: none;
    }
    aside .user li:nth-child(2) i {
        background-color:var(--sidebar);
        color: var(--side-text);
        font-size: 1.5rem;
    }
    header {
        width: calc(100% - 70px);
        left: 69px;
    }
    #content {
        width: calc(100% - 70px);
        left: 69px;
    }
    #content nav ul * {
        width: calc(100% / 4 - 1rem);
    }
}