/* reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
/* /reset */

/* utility */
:root {
    --default: #ffffff;
    --header: #080B12;
    --sidebar: #000000;
    --side-text: #717171;
    --bottom-navigation :#282828;
    --grey: #909090;
    --content: #141922;
    --nav-cont: #7D7F84;
    --bar: #d0d8e6;
    --green: #ADFF2F;
}
/* /utility */

/* common rules */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--content);
}
#content {
    padding: 1rem 0 10rem 1rem;
    width: calc(100% - 230px);
    position: absolute;
    left: 228px;
    top: 90px;
    background-color: var(--content);
}
#bottom-navigation {
    background-color: var(--bottom-navigation);
    width: 100%;
    height: 90px;
    padding: 1rem;
    position: fixed;
    bottom: 0;
}
/* /common rules */

/* specific rules */
/* left sidebar */
aside {
    width: 230px;
    height: 93vh;
    padding: 1rem 1rem;
    position: fixed;
    background-color: var(--sidebar);
}
aside nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside nav div {
    display: flex;
    flex-direction: column;
}
aside nav div:not(:first-child) {
    color: var(--side-text);
    font-size: 1.3rem;
}
aside .logo img.large {
    width: 75%;
}
aside .logo img.small {
    display: none;
}
aside .options *, .playlist ul * {
    margin-bottom: 0.5rem;
    list-style-type: none;
}
aside .options span i {
    display: inline-block;
}
aside .options i {
    display: none;
}
aside .playlist i {
    background-color: var(--grey);
    color: var(--sidebar);
    padding: 0.2rem;
}
aside .playlist li:first-child {
    color: var(--default);
}
aside .user ul {
    list-style: none;
}
aside .user ul *:not(:last-child) {
    margin-bottom: 0.7rem;
}
aside .user li:not(:first-child) i {
    background-color: var(--grey);
    color: var(--default);
    padding: 0.4rem;
    border-radius: 50%;
}
aside .user span i {
    display: inline-block;
}
aside .user i {
    display: none;
}
aside .user li:nth-child(4) {
    color: var(--default);
}
/* hover + active */
aside nav .options li span:hover {
    color: var(--default);
    cursor: pointer;
}
aside nav .options li span:active {
    border-bottom: 2px solid var(--green);
    padding-bottom: 0.2rem;
    transition: 0.1s;
}
aside nav .playlist li:not(:first-child) span:hover {
    color: var(--default);
    cursor: pointer;
}
aside nav .playlist li:not(:first-child) span:active {
    border-bottom: 2px solid var(--green);
    padding-bottom: 0.2rem;
    transition: 0.1s;
}
aside .user li:first-child span:hover {
    color: var(--default);
    cursor: pointer;
}
aside .user li:first-child span:active {
    border-bottom: 2px solid var(--green);
    padding-bottom: 0.2rem;
    transition: 0.1s;
}
/* /hover */
/* /left sidebar */
/* header */
header {
    width: calc(100% - 230px);
    height: 91px;
    padding: 0 3rem;
    position: fixed;
    left: 229px;
    background-color: var(--header);
    opacity: 80%;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
header a {
    color: var(--default);
    border: 1px solid var(--default);
    padding: 0.8rem 2rem;    
    border-radius: 25px 25px;
    display: inline-block;
    text-decoration: none;
}
/* hover */
header a:hover {
    transform: scale(1.2);
}
/* /hover */
/* /header */
/* main content */
#content nav ul {
    display: flex;
    justify-content: center;
    color: var(--nav-cont);
    list-style-type: none;
    gap: 3rem;
}
/* hover + active */
#content nav span:hover {
    color: var(--default);
    cursor: pointer;
}
#content span:active {
    border-bottom: 2px solid var(--green);
    padding-bottom: 0.2rem;
    transition: 0.1s;
}
/* /hover + active */
#content h1 {
    padding: 2rem 0rem;
    color: var(--default);
}
#content .row {
    display: flex;
    column-gap: 1rem;
}
#content .card {
    width: calc(100% / 6 - 1rem);
    text-align: center;
}
#content .play-hover {
    display: flex;
    position: relative;
}
#content .card i {
    color: var(--default);
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
/* hover */
#content .card .play-hover:hover {
    opacity: 50%;
    cursor: pointer;
}
/* /hover */
#content h4 {
    color: var(--default);
    margin: 0.5rem 0;
}
#content span {
    color: var(--nav-cont);
}
#content .created .row {
    margin-top: 2rem;
}
#content .popular img {
    border-radius: 50%;
}
/* /main content */
/* bottom navigation bar */
#bottom-navigation .navigator {
    height: 100%;
    gap: 10rem;
    display: flex;
    justify-content: space-between;
}
#bottom-navigation .card {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--nav-cont);
}
/* hover */
#bottom-navigation .card span:hover {
    text-decoration: underline;
    color: var(--default);
    cursor: pointer;
}
#bottom-navigation .card i:hover {
    cursor: pointer;
    color: var(--default);
}
/* /hover */
#bottom-navigation .central {
    flex-direction: column;
    gap: 0.5rem;
    color: var(--default);
}
#bottom-navigation .time-bar {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
}
#bottom-navigation .tools {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    align-items: center;
}
#bottom-navigation .tools i:nth-child(3) {
    font-size: 1.8rem;
}
#bottom-navigation .progress-bar {
    height: 8px;
    width: 100%;
    cursor: pointer;
    background-color: var(--bar);
    border-radius: 10px;
}
#bottom-navigation .progress-current {
    height: inherit;
    width: 25%;
    background-color: #4a5363;
    border-radius: 10px;
}
/* hover */
#bottom-navigation .tools i:nth-child(3):hover {
    font-size: 2.1rem;
}
#bottom-navigation .progress-current:hover {
    background-color: var(--green)

}
/* /hover */
#bottom-navigation img {
    height: 100%;
}
#bottom-navigation h6 {
    color: var(--default);
}
/* bottom navigation bar */
/* /specific rules */